about-time==4.2.1
aiodns==3.4.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiohttp_socks==0.10.1
aiosignal==1.3.2
aiosqlite==0.21.0
alive-progress==3.2.0
annotated-types==0.7.0
anyio==4.9.0
arabic-reshaper==3.0.0
argcomplete==3.1.4
asgiref==3.8.1
asn1crypto==1.5.1
asttokens==3.0.0
async-timeout==5.0.1
asyncio==3.4.3
asyncpg==0.30.0
attrs==24.3.0
Automat==22.10.0
Babel==2.10.3
bcrypt==3.2.2
beautifulsoup4==4.12.3
blinker==1.9.0
blis==1.3.0
bs4==0.0.2
catalogue==2.0.10
certifi==2024.12.14
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.2
click==8.1.6
cloud-init==24.4.1
cloudpathlib==0.21.1
cloudscraper==1.2.71
colorama==0.4.6
command-not-found==0.3
confection==0.1.5
configobj==5.0.8
constantly==23.10.4
copyedit==1.0.1
cryptography==44.0.3
css==0.1
cssselect2==0.8.0
cymem==2.0.11
dbus-python==1.3.2
decorator==5.2.1
defusedxml==0.7.1
distro==1.9.0
distro-info==1.7+build1
executing==2.2.0
fastapi==0.116.1
Flask==3.1.0
frozenlist==1.6.0
future==1.0.0
future-annotations==1.0.0
gevent==25.4.2
grapheme==0.6.0
greenlet==3.2.1
gyp==0.1
h11==0.16.0
html5lib==1.1
httpcore==0.12.3
httplib2==0.20.4
httptools==0.6.4
httpx==0.17.1
hyperlink==21.0.0
idna==3.10
incremental==22.10.0
ipython==9.2.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jq==1.8.0
jsonpatch==1.32
jsonpickle==4.0.5
jsonpointer==2.0
jsonschema==4.10.3
langcodes==3.5.0
language_data==1.3.0
launchpadlib==1.11.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
lxml==5.4.0
maigret @ git+https://github.com/soxoj/maigret.git@4195a3ca21ce22d30ccc800a48489377bce21865
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mock==5.2.0
multidict==6.4.3
murmurhash==1.0.13
netifaces==0.11.0
networkx==2.8.8
numpy==2.3.2
oauthlib==3.2.2
oscrypto==1.3.0
packaging==24.0
parso==0.8.4
pexpect==4.9.0
phonenumbers==9.0.5
pillow==11.2.1
pipx==1.4.3
platformdirs==4.3.8
playwright==1.51.0
preshed==3.0.10
prettytable==3.16.0
prompt_toolkit==3.0.51
propcache==0.3.1
psutil==5.9.8
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==4.8.0
pycountry==24.6.1
pycparser==2.22
pycurl==7.45.3
pydantic==2.11.7
pydantic_core==2.33.2
pyee==12.1.1
Pygments==2.17.2
PyGObject==3.48.2
PyHamcrest==2.1.0
pyHanko==0.26.0
pyhanko-certvalidator==0.26.8
PyJWT==2.7.0
PyMuPDF==1.26.3
pyOpenSSL==23.2.0
pyparsing==3.1.1
pypdf==5.4.0
PyPDF2==3.0.1
pyperclip==1.9.0
pyrsistent==0.20.0
pyserial==3.5
PySocks==1.7.1
python-apt==2.7.7+ubuntu4
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.1.1
python-multipart==0.0.20
python-socks==2.7.1
pytz==2024.1
PyVirtualDisplay==3.0
pyvis==0.3.2
PyYAML==6.0.1
qrcode==8.2
reportlab==4.4.0
requests==2.32.3
requests-futures==1.0.2
requests-toolbelt==1.0.0
rfc3986==1.5.0
rich==13.7.1
service-identity==24.1.0
setuptools==68.1.2
shellingham==1.5.4
six==1.17.0
smart_open==7.3.0.post1
sniffio==1.3.1
socid-extractor==0.0.27
socks==0
soupsieve==2.7
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.42
srsly==2.5.1
stack-data==0.6.3
starlette==0.47.2
stem==1.8.2
svglib==1.5.1
systemd-python==235
tabulate==0.9.0
terminaltables==3.1.10
thinc==8.3.6
tinycss2==1.4.0
tk==0.1.0
tokenize_rt==6.1.0
torrequest==0.1.0
toutatis==1.31
tqdm==4.67.1
traitlets==5.14.3
Twisted==24.3.0
typer==0.16.0
typing-inspection==0.4.1
typing_extensions==4.14.1
tzlocal==5.3.1
ubuntu-pro-client==8001
unattended-upgrades==0.1
uritools==5.0.0
urllib3==2.4.0
userpath==1.9.1
uvicorn==0.35.0
uvloop==0.21.0
wadllib==1.3.6
wasabi==1.1.3
watchfiles==1.1.0
wcwidth==0.2.13
weasel==0.4.1
webencodings==0.5.1
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.42.0
wrapt==1.17.2
xhtml2pdf==0.2.17
XMind==1.2.0
yarl==1.20.0
zope.event==5.0
zope.interface==6.1
