fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
python-docx
PyMuPDF
spacy
aiofiles
css
CopyEdit
aiosqlite
python-multipart
spacy[transformers]
docx
pandas
openai
https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.7.1/en_core_web_trf-3.7.1-py3-none-any.whl